<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
</style>
<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Raleway:ital,wght@0,500;1,500&display=swap');
</style>


font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
    display: inline-block;
}


.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-part{
    height: 100px;
    position: fixed;
    width: 100%;

}

.header-part .container{
height: 100%;

display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid rgba(255, 255, 255, 0.3 );
}
.header-menu .menu-bar{
    display: flex;
}
.header-menu .menu-bar li a{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 13px;
    padding: 14px 30px;
    text-transform: uppercase;
}
.header-menu .menu-bar li:last-child a{
    padding-right: 0;
}




/*--------- banner part ------ */

.banner-part{
    background-image: url(./ActiveBox2.png);
    
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 254px;
    padding-bottom: 160px;
}
.banner-part .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-part .container h1{
font-size: 65px;
font-family: 'Open Sans', sans-serif;
font-weight: 700;
line-height: 68px;
text-transform: uppercase;
color: #fff;
text-align: center;
padding: 0 60px;

}

.banner-part .container p{
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #fff;
    margin-top: 42px ;
    margin-bottom: 80px;
    text-align: center;
    padding: 0 150px;

}

.banner-part .container a{
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #fff;
    padding: 20px 46px;
    background-color: #E84545;
    border-radius: 2px;

}

/*----------service section-------*/
.service-part{
    padding: 120px 0;
}
.service-part .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 80px;
}

.service-iteam{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
    
.service-iteam p{
    text-align: center;
    color: #6c7279;
    padding: 0 26px;
    
}
.service-iteam h3{
    font-family:'Raleway', sans-serif ;
    font-weight: 700;
    font-size: 14px;
    color: #2d3033;
    margin-top: 36px;
    margin-bottom: 26px;
    text-transform: uppercase;
}



/*-------- --gallery part-- ----*/

.gallery-part{
    display: flex;
flex-wrap: wrap;
column-gap: 1px;
row-gap: 1px;
}
.gallery-part .gallery-iteam{
    max-width: calc(25% - 1px);
    position: relative;
    cursor: pointer;
}

.gallery-part .gallery-iteam img{
    width: 100%;
    height: 100%;
}

.overlay{
    height: 100%;
    width: 100%;
transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
}

.gallery-part .gallery-iteam:hover .overlay{
    background-color:rgba(232, 69, 69, 0.7) ;
}


.gallery-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s;
}

.gallery-content h3{
    font-family:'Raleway', sans-serif ;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.gallery-content p{
    font-family:'Raleway', sans-serif ;
    font-weight: 400;
    font-size: 14px;
    color: #fff;

    text-align: center;
}

.gallery-part .gallery-iteam:hover .gallery-content{
    opacity: 1;
}

